body {
    background-image: url('background.png');
    /* background-size: auto;
    background-position: center;
    background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    
}
h1 {
    padding-left: 80px;
    padding-top: 80px;
    text-align: left;
    font-size: 70px;
    /* font-family: 'Paul Slab Semi Bold'; */
}
p {
    padding-left: 80px;
    padding-top: 20px;
    text-align: left;
    font-size: 15px;
    padding-bottom: 10px;
    color: grey;
}
.nav {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.nav a {
    text-align: center;
  }
  .form-buttons {
    margin-left: 20px; /* Add 20px margin to the left */
}
.custom-btn:hover {
    background-color: rgb(155, 95, 21) !important;
    border-color: rgb(155, 95, 21) !important;
    color: #fff !important;
}
.carousel-inner img {
    margin: 0 auto;
}
/* Style for input fields */
.input-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  /* Style for input group texts */
  .input-group-text {
    background-color: #f0f0f0;
  }
  
  /* Style for the form container */
  .form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  